
C\#/examenUF1/ExamenC_UF1/.vs/ExamenC_UF1/FileContentIndex/e0359db1-4473-4778-a05f-f0b0c981acb7.vsidx
C\#/2p_conn/relay_server_2p/.vs/relay_server_2p/FileContentIndex/abf8558c-0b7e-4ba5-9bc9-6674b0925c03.vsidx
C\#/2p_conn/relay_server_2p/.vs/relay_server_2p/FileContentIndex/02cfb243-caaf-45e8-ac05-7f970dd28ccc.vsidx
C\#/2p_conn/relay_server_2p/.vs/relay_server_2p/FileContentIndex/7db3dd2b-7b27-4730-8774-648a816dd716.vsidx
C\#/2p_conn/relay_server_2p/.vs/relay_server_2p/FileContentIndex/5a81455f-5e6d-48e8-8079-7f4236ae2cc1.vsidx
*.vsidx
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Exciting.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Ethereal.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Ethereal.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Driving.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Driving.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Classical.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Classical.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/_Shortcuts-Cheat_Sheet.txt.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/_Shortcuts-Cheat_Sheet.txt
C\#/unity/Essentials Project/Assets/_Unity Essentials.meta
C\#/unity/Essentials Project/Assembly-CSharp.csproj
C\#/unity/Essentials Project/.vsconfig
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Exciting.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Relaxed.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Relaxed.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Suspenseful.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Suspenseful.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Upbeat.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Music/Music_Upbeat.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX/Bubbling_Water.ogg
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX/Bubbling_Water.ogg.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX/Fridge_Hum.wav
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX/Fridge_Hum.wav.meta
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX/SFX_Ball_Bounce.wav
C\#/unity/Essentials Project/Assets/_Unity Essentials/Audio/Sound FX/SFX_Ball_Bounce.wav.meta
*.wav
*.meta
*.ogg
*.asset
*.mat
*.physicMaterial
*.png
*.FBX
*.obj
*.prefab
*.unity
*.controller
*.anim
*.inputactions
*.exr
*.lighting
*.jpg
*.tif
*.hdr
*.json
*.shader
*.apiupaterconfigs
/C\#/unity
